/**
		@CALENDAR
	**/
	#calendar {
		width: 100%;
		margin: 0 auto;
	}

	.fc-event {
		border:0;
	}
	.fc-event-inner {
		padding-left:4px;
		padding-right:4px;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
				border-radius: 2px;
	}
	.fc-day-grid-event .fc-content {
		padding:3px;
	}
	.fc-other-month {
		background-image: -webkit-gradient(linear,left top,right bottom,color-stop(.25,rgba(0,0,0,.03)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(0,0,0,.03)),color-stop(.75,rgba(0,0,0,.03)),color-stop(.75,transparent),to(transparent));
		background-image: -webkit-linear-gradient(135deg,rgba(0,0,0,.03) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.03) 50%,rgba(0,0,0,.03) 75%,transparent 75%,transparent);
		background-image: -webkit-linear-gradient(315deg,rgba(0,0,0,.03) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.03) 50%,rgba(0,0,0,.03) 75%,transparent 75%,transparent);
		background-image: linear-gradient(135deg,rgba(0,0,0,.03) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.03) 50%,rgba(0,0,0,.03) 75%,transparent 75%,transparent);
		-webkit-background-size: 16px 16px;
		background-size: 16px 16px;
	}
	.fc-state-highlight {
		background-image: -webkit-gradient(linear,left top,right bottom,color-stop(.25,rgba(0,0,0,.03)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(0,0,0,.03)),color-stop(.75,rgba(0,0,0,.03)),color-stop(.75,transparent),to(transparent));
		background-image: -webkit-linear-gradient(135deg,rgba(0,0,0,.03) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.03) 50%,rgba(0,0,0,.03) 75%,transparent 75%,transparent);
		background-image: -webkit-linear-gradient(315deg,rgba(0,0,0,.03) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.03) 50%,rgba(0,0,0,.03) 75%,transparent 75%,transparent);
		background-image: linear-gradient(135deg,rgba(0,0,0,.03) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.03) 50%,rgba(0,0,0,.03) 75%,transparent 75%,transparent);
		-webkit-background-size: 16px 16px;
		background-size: 16px 16px;
		background-color:#fceedc;
	}
	.fc-icon {
		position:absolute;
		top:3px; right:3px;
	}
	a.fc-event i.fa {
		color:#fff !important;
	}
	.fc-header-title h2 {
		margin:0; padding:0;
		font-size:20px; line-height:26px;
		color:#ccc;
	}
	#external-events>li>:first-child:after {
		color: #fff;
		color: rgba(255,255,255,.7);
		content: attr(data-description);
		font-size: 11px;
		font-weight: 400;
		display: block;
		line-height: 0;
		margin: 7px 0;
		text-transform: lowercase;
	}
	@media only screen and (max-width: 482px) {
		.fc-header-title h2 {
			font-size:14px;
		}
    }
    
    /* force background colors */
	.bg-calendar {
		font-size:12px;
		font-weight:300;
		border-left:rgba(0,0,0,0.2) 4px solid;
	}
	.bg-calendar.bg-info,
	.fc-event.bg-info {
		background-color: #5bc0de !important;
	}
	.bg-calendar.bg-warning,
 	.fc-event.bg-warning {
		background-color:#f0ad4e !important;
	}
	.bg-calendar.bg-danger,
 	.fc-event.bg-danger {
		background-color:#d9534f !important;
	}
	.bg-calendar.bg-success,
 	.fc-event.bg-success {
		background-color:#5cb85c !important;
	}
	.bg-calendar.bg-primary,
 	.fc-event.bg-primary {
		background-color:#333 !important;
	}

	#external-events>li {
		margin: 6px 4px 6px 0;
		display: inline-block;
	}
	#external-events>li>:first-child {
		padding: 5px 10px 10px;
		cursor: move;
		display: block;
	}