.imgAvatar{
    width: 85px;
    height: 85px;
}

#listAvatar{
    width: 100%;
    height: 756px;
}   

#listAvatar li{
    float: left;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 10px; 
}

#listAvatar li:hover{
    cursor: pointer;
    opacity: 0.6; 
}

#listAvatar li .selected{
    border: 3px solid rgba(25, 165, 0, 0.9);
    opacity: 0.6; 
}